<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сброс пароля</title>
</head>
<body>
<div class="container">
    <p>Здравствуйте, {{ user.username }}! На Ваш e-mail поступил запрос о сбросе пароля. Если это сделали не Вы, то проигнорируйте данное сообщение.</p>
    <p>Чтобы сбросить пароль пройдите по <a href="https://screator.info{{ path('password_reset', {'code': user.confirmationCode }) }}">ссылке</a></p>
</div>
</body>
</html>